<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="bg-main full-width">
    <div class="hero hero-lg site-hero">
      <div class="hero-body">
        <h1>Curate your favourite spots</h1>
        <%if (locals.currentUser) {%>
        <a href="/maps/new" class="btn btn-lg btn-primary s-rounded">Create Your Map</a>
        <%} else {%>
        <button class="btn btn-lg s-rounded" id="login-from-create">
          Create Your Map
        </button>
        <%}%>
      </div>
    </div>
  </div>

  <section class="grid-container">
    <h1 class="grid-header">All Maps</h1>
    <div class="card-grid" id="all-maps">
      <% if (locals.maps && maps.length) { %> <% maps.forEach(map => { %>
      <article class="card s-rounded">
        <div class="card-image card-map">
          <img
            class="img-responsive"
            src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/<%= map.center_lng %>,<%= map.center_lat %>,13/300x200?access_token=pk.eyJ1IjoidGhlbGl0dGxlYmxhY2tzbWl0aCIsImEiOiJjazZlMnExanYwaXU0M2tsb2I5cDRzcTQwIn0.bwS19as5AZCy7I-y3w-Tkw"
          />
          <a class="btn btn-primary s-rounded view-btn" href="/maps/<%= map.id %>" data-map=""
            >View</a
          >
        </div>
        <div class="card-header">
          <div>
            <div class="card-title h3"><%= map.title %></div>
            <p class="card-subtitle text-gray">by <a href="#"><%= map.owner_name %></a></p>
          </div>

          <div>
            <span class="map-faves"><%= map.fav_count %></span>
            <%- include('partials/_heart-btn', { favedByCurrentUser: map.favedByCurrentUser, id:
            map.id, u_id: currentUser }) %>
          </div>
        </div>
      </article>
      <% }) %> <% } %>
    </div>
  </section>
</main>
<%- include('partials/_site-foot') %>
