<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <h1><%= locals.page === "create-map" ? "Create A Map" : "Edit Map" %></h1>

  <form id="createMapForm">
    <label class="form-group">
      <span class="form-label">This map is a collection of</span>
      <input
        type="text"
        name="map-title"
        id="map-title"
        class="form-input input-lg"
        placeholder="eg. Best Coffee in Town"
        data-value="<%= map.title %>"
      />
    </label>

    <div class="btn-container">
      <button type="submit" class="btn btn-primary">Save</button>
      <!-- hide if path is not maps/edit -->
      <button type="button" class="btn btn-error">Delete</button>
    </div>
  </form>

  <div
    id="leaflet-map"
    class="map full-width"
    data-map-details="<%= JSON.stringify({ mapID: map.id, lat: map.center_lat, lng: map.center_lng}); %>"
  ></div>

  <% if (map.points && map.points.length) { %>
  <div class="grid-container" id="points-display" data-points="<%= JSON.stringify(map.points); %>">
    <h2 class="grid-header">My Places</h2>
    <div class="card-grid place-grid">
      <% map.points.forEach(place => { %>
      <div class="card" data-map=<%= place.map_id %> data-point=<%= place.id %> data-details="<%= JSON.stringify(place); %>">
        <div class="card-image">
          <img class="img-responsive" src="<%= place.image_url %>" />
        </div>
        <div class="card-header">
          <div class="card-title h5"><%= place.title %></div>
        </div>
        <div class="card-body">
          <p><%= place.detail %></p>
        </div>
        <div class="card-footer btn-group btn-group-block text-center">
          <button class="btn btn-primary view-marker-btn" data-point-id="<%= place.id %>">
            View
          </button>
          <button class="btn btn-primary edit-place-btn" data-point-id="<%= place.id %>">
            Edit
          </button>
          <button class="btn btn-primary delete-place-btn" data-point-id="<%= place.id %>">
            Delete
          </button>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% } %>
</main>
<%- include('partials/_site-foot') %>
