<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>

<main>
  <div class="content-header">
    <h1><%= user.fullname %></h1>

    <div class="btn-group text-right">      
      <a href="/users/<%= currentUser %>" class="btn">My Maps</a>
      <a href="/users/<%= currentUser %>/favs" class="btn">Favourite Maps</a>
      <a href="/users/<%= currentUser %>/activity" class="btn">My Activity</a>
    </div>
  </div>

  <section id="user-container" class="grid-container">
    <% if (currentPage === 'profile' && maps.length) { %>
    <h2>My Maps</h2>
    <div class="card-grid">
      <% maps.forEach(map => { %>
      <article class="card s-rounded">
        <div class="card-image card-map">
          <img
            class="img-responsive"
            src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/<%= map.center_lng %>,<%= map.center_lat %>,13/300x200?access_token=pk.eyJ1IjoidGhlbGl0dGxlYmxhY2tzbWl0aCIsImEiOiJjazZkeHZmcTcwMnV1M2tvZHNpb3VidzZpIn0.STnRpYTjWHNdD1n1Ew6u6g"
          />
          <a class="btn btn-primary s-rounded view-btn" href="/maps/<%= map.id %>">View</a>
        </div>
        <div class="card-header">
          <div>
            <div class="card-title h3"><%= map.title %></div>
            <p class="card-subtitle text-gray">by <a href="#"><%= map.owner_name %></a></p>
          </div>

          <p>
            <span class="map-faves"><%= map.fav_count %></span>
            <span class="static-heart"><%- include('partials/_heart-svg') %></span>
          </p>
        </div>
      </article>
      <% }) %>      
    <% } %>
    <!-- favourites -->
    <% if (currentPage === 'favs' && maps.length) { %>
    <h2>Favourites</h2>
    <div class="card-grid">
      <% maps.forEach(map => { %>
      <article class="card s-rounded">
        <div class="card-image card-map">
          <img
            class="img-responsive"
            src="https://api.mapbox.com/styles/v1/mapbox/light-v10/static/<%= map.center_lng %>,<%= map.center_lat %>,13/300x200?access_token=pk.eyJ1IjoidGhlbGl0dGxlYmxhY2tzbWl0aCIsImEiOiJjazZkeHZmcTcwMnV1M2tvZHNpb3VidzZpIn0.STnRpYTjWHNdD1n1Ew6u6g"
          />
          <a class="btn btn-primary s-rounded view-btn" href="/maps/<%= map.id %>">View</a>
        </div>
        <div class="card-header">
          <div>
            <div class="card-title h3"><%= map.title %></div>
            <p class="card-subtitle text-gray">by <%= map.mapCreator %></p>
          </div>          
        </div>
      </article>
      <% }) %>    
    <% } %>
    <!-- activity -->
    <% if (currentPage === 'activity' && activities.length) { %>
    <h2>My Activity</h2>
    <table class="table table-striped table-hover">
      <thead>
        <td>Date</td>
        <td>Details</td>
      </thead>
      <tbody>
        <% activities.forEach(activity => { %>
          <tr>
            <td><%= activity.edited_at %></td>
            <td><%= user.fullname %> edited <a href="/maps/<%= activity.map_id %>"><%= activity.title %></a></td>
          </tr>         
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </section>
</main>

<%- include('partials/_site-foot') %>
