<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>
<main>
  <% if (locals.singleMap) { const map = singleMap; %>
  <div class="content-header flex-space-between">
    <div>
      <h1 class="mb-0"><%= map.title %></h1>
      <p class="mb-0">by <%= map.creator %></p>
    </div>

    <div>
      <% if (singleMap.ownedByCurrentUser) {%>
      <button class="btn btn-primary" id="delete-map" data-map=<%= map.id, %> >Delete</button>
      <%}%>
      <p class="mb-0">
        <span class="map-faves"><%= map.fav_count %></span>
        <%- include('partials/_heart-btn', { favedByCurrentUser: singleMap.faved, id: map.id,
        u_id: singleMap.u_id }) %>
      </p>
    </div>
  </div>
  <div
    id="single-map"
    class="map full-width"
    data-map-details="<%= JSON.stringify({ mapID: map.id, lat: map.center_lat, lng: map.center_lng}); %>"
  ></div>

  <% if (map.points && map.points.length) { %>
  <div class="grid-container" id="points-display" data-points="<%= JSON.stringify(map.points); %>">
    <h2 class="grid-header">My Places</h2>

    <div class="card-grid place-grid" id="user-points">
      <% map.points.forEach(place => { %>
      <div class="card" data-map=<%= place.map_id %> data-point=<%= place.id %> data-details="<%= JSON.stringify(place) %>">
        <div class="card-image">
          <img class="img-responsive" src="<%= place.image_url %>" />
        </div>
        <div class="card-header">
          <div class="card-title h5"><%= place.title %></div>
        </div>
        <div class="card-body">
          <p><%= place.detail %></p>
        </div>
        <div class="card-footer point-btn-container text-center">
          <button class="btn btn-primary view-marker-btn" data-point-id="<%= place.id %>">View on Map
          </button><% if (locals.currentUser) { %><button class="btn btn-primary edit-place-btn" data-point-id="<%= place.id %>">Edit</button><button class="btn btn-primary delete-place-btn" data-point-id="<%= place.id %>">Delete</button><% } %>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% } %> <% } %>
</main>
<%- include('partials/_site-foot') %>
