<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>
<main>
  <% if (map) { %>
  <div class="header">
    <h2><%= map.details.title %></h2>
    <p>by <%= map.details.owner_name %></p>
    <p><%= map.details.faves %> <button>&hearts;</button></p>
  </div>
  <div id="single-map" class="map"></div>

  <% if (map.points.length) { %>
  <h3>My Places</h3>

  <% map.points.forEach(place => { %>
  <div class="card">
    <div class="card-image">
      <img class="img-responsive" src="<%= place.img %>" />
    </div>
    <div class="card-header">
      <div class="card-title h5"><%= place.title %></div>
    </div>
    <div class="card-body">
      <p><%= place.description %></p>
    </div>
  </div>
  <% }); %> <% } %> <% } %>
</main>
<%- include('partials/_site-foot') %>
