<!-- site meta + body tag -->
<%- include('partials/_site-head') %>

<!-- <header> + <nav> -->
<%- include('partials/_headnav') %>
<main>
  <% if (locals.singleMap) { const map = singleMap; %> <%= %>
  <div class="content-header flex-space-between">
    <div>
      <h1 class="mb-0"><%= map.title %></h1>
      <p class="mb-0">by <%= map.creator %></p>
    </div>

    <p class="mb-0">
      <span><%= map.fav_count %></span>
      <button class="btn btn-link btn-heart">
        <%- include('partials/_heart-svg') %>
      </button>
    </p>
  </div>
  <div
    id="single-map"
    class="map full-width"
    data-map-details="<%= JSON.stringify({ lat: map.center_lat, lng: map.center_lng}); %>"
  ></div>

  <% if (map.points && map.points.length) { %>
  <div class="grid-container" id="points-display" data-points="<%= JSON.stringify(map.points); %>">
    <h2 class="grid-header">My Places</h2>

    <div class="card-grid place-grid">
      <% map.points.forEach(place => { %>
      <div class="card">
        <div class="card-image">
          <img class="img-responsive" src="<%= place.img %>" />
        </div>
        <div class="card-header">
          <div class="card-title h5"><%= place.title %></div>
        </div>
        <div class="card-body">
          <p><%= place.description %></p>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  <% } %> <% } %>
</main>
<%- include('partials/_site-foot') %>
